
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root{
    --color-border-faint: #00000014;
    --color-shadow: #0000004d;
    --color-neutral-100: #ffffff;
    --color-primary-400: #663399;

    --ff-heading: "Playfair Display", serif;

    
    --elevation-lined: 0px 0px 0px 1px var(--color-border-faint);
    --elevation-raised: var(--elevation-lined),0px 4px 4px var(--color-shadow);
}

main{
    display: flex;
    height: 100vh;
    padding: 0 40px;
}

main .card{
    margin: auto;
    text-align: center;
    padding: 20px;
    /*outline: 1px solid #000000;*/
    border-radius: 3px;
    box-shadow: var(--elevation-raised);
}

.card-title{
    font-weight: 900;
    font-size: 36px; 
    font-family: var(--ff-heading);
}

.card-para{
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
}

.btn-container{
    margin-top: 20px;
    text-align: center;
}

.back-btn{
    color: var(--color-neutral-100);
    text-decoration: none;
    padding: 5px 10px;
    background: var(--color-primary-400);
    border-radius: 3px;
    font-weight: 600;
}