<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--start google fonts links-->
    <!--one-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!--two-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700..900&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet"> 
    <!--end google fonts links-->

    <!--start font awesome links-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--end font awesome links-->

    <!--start css-->
    <link rel="stylesheet" href="/css/style.css">
    <!--end css-->
    
    <!--start favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
    <!--end favicon-->
    
    <title>{{ title }}</title>
</head>
<body>

    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}

</body>
{% block js %}
    <script src = "/script/current-year.js"></script>
{% endblock %}

</html>