<div class="footer-container">
    <div class="sub-footer" id="sub-footer">
        <section>
            <h4 class="section-title">Connect with me</h4>
            <ul>
                <li><a href="https://www.youtube.com/channel/UCrNKDTsjRT4d1870BlGD4wA" target="_blank" class="fa fa-youtube-play"></a></li>
                <li><a href="https://wa.me/213541145717?text=Hello%20Xavier%I%just%visited%your%personal%blog%site." target="_blank" class="fa fa-whatsapp"></a></li>
                <li><a href="/pages/facebook-page/" class="fa fa-facebook-square"></a></li>
                <li><a href="http://www.linkedin.com/in/xavier-muneku-600a44177" target="_blank" class="fa fa-linkedin-square"></a></li>
                <li><a href="mailto:xavier.muneku@gmail.com" class="fa fa-envelope"></a></li>
            </ul>
        </section>
    </div>

    <footer>
        <div>
            <p>Copyright Xavier K Muneku &copy; <span id="currentYear"></span>. All rights reserved.</p>
        </div>
    </footer>        
</div>