<div class="nav-bar">
    <header><div><h1>zed code mentor</h1></div></header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/pages/blogs/">blog</a></li>
            <li><a href="#sub-footer">contact</a></li>
        </ul>
    </nav>        
</div>