---
title: Recent articles
layout: 'base.njk'
---

    <main>

        <div class="template-container-articles" id="featured-articles">
            <section  class="featured-articles">
                <h2 class="section-title">Recent articles</h2>
                <ul role="list" class="articles__list">
                    
                    <li>
                        <article class="snippet">
                            <div>
                                <img src="/assets/blog-images/article-1.jpg" alt="This is a test" class="snippet__image">
                            </div>
                            
                            <div>
                                <h3 class="snippet__title"><a href="blog/my-first-article">My First Article</a></h3>
                                <p class="snippet__meta">by <span>Xavier K Muneku</span> on <span>Apr 30, 2021</span></p>
                                <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
                                <a href="blog\2021-05-01-my-first-article.md" class="btn btn--primary">Continue Reading</a>
                            </div>
                        </article>
                            
                    </li>
        
                    <li>
        
                        <article class="snippet">
                            <div>
                                <img src="/assets/blog-images/article-2.jpg" alt="This is a test" class="snippet__image">
                            </div>

                            <div>
                                <h3 class="snippet__title"><a href="blog/my-second-article/">My Second Article</a></h3>
                                <p class="snippet__meta">by <span>Xavier K Muneku</span> on <span>May 14, 2021</span></p>
                                <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
                                <a href="blog/my-second-article/" class="btn btn--primary">Continue Reading</a>                                
                            </div>
                            

                        </article>
        
                    </li>
                    </li>
        
                        <article class="snippet">
                            <div>
                                <img src="/assets/blog-images/article-3.jpg" alt="This is a test" class="snippet__image">
                            </div>
                            <div>
                            <h3 class="snippet__title"><a href="blog/my-third-article/">My Third Article</a></h3>
                            <p class="snippet__meta">by <span>Xavier K Muneku</span> on <span>May 27, 2021</span></p>
                            <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
                            <a href="blog/my-third-article/" class="btn btn--primary">Continue Reading</a>                                
                            </div>

                        </article>
        
                    </li>
        
                    <li>
        
                        <article class="snippet">
                            <div>
                               <img src="/assets/blog-images/article-4.jpg" alt="This is a test" class="snippet__image"> 
                            </div>

                            <div>
                                <h3 class="snippet__title"><a href="blog/my-fifth-article/">My Fourth Article</a></h3>
                                <p class="snippet__meta">by <span>Xavier K Muneku</span> on <span>Jun 14, 2021</span></p>
                                <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
                                <a href="blog/my-fifth-article/" class="btn btn--primary">Continue Reading</a>
                            </div>
                            
                            
                        </article>
                
                    </li>
        
                    <li>
        
                        <article class="snippet">
                            <div>
                                <img src="/assets/blog-images/article-5.jpg" alt="This is a test" class="snippet__image">
                            </div>
                            
                            <div>
                                <h3 class="snippet__title"><a href="blog/my-fifth-article/">My Fifth Article</a></h3>
                                <p class="snippet__meta">by <span>Xavier K Muneku</span> on <span>Jun 14, 2021</span></p>
                                <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
                                <a href="blog/my-fifth-article/" class="btn btn--primary">Continue Reading</a>                                
                            </div>

                        </article>
                
                    </li>
        
                </ul>
            </section>             
        </div>
    </main>