---
title: Recent articles
layout: 'base.njk'
---

    <main>

        <div class="template-container-articles" id="featured-articles">
            <section  class="featured-articles">
                <h2 class="section-title">Recent articles</h2>
                <ul role="list" class="articles__list">
                    
                    {% for post in collections.post %}
                        {% include 'article-snippet.njk' %}
                    {% endfor %}
                    
                </ul>
            </section>             
        </div>
    </main>