---
title: Zed Code Mentor
layout: 'base.njk'
---

<main>
    <div class="template-container">
        <section>
            <div>
                <h2 class="section-title">Welcome to my blog!</h2>

                <p>On Here I share unbiased articles on web development for beginners in Zambia. To top it off I also write about ideas of how we can integrate and improve tech in Zambia. Therefore great stuff for those that are motivated and enthusiastic to learn one of the most important skills in today’s world.</p>

                <p>I also use this platform to document my web development adventures, including how I've solved challenges, useful resources, and more.</p>

                <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>

                <div class="flex-group">
                    <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
                    <a href="/pages/blogs/" class="btn btn--neutral">Most recent articles</a>
                </div>
            </div>

            <div>
                <img src="assets\permanent-images\profile.JPG" alt="xavier k muneku" class="hero-image">
            </div>

        </section>
    </div>

    <div class="template-container-articles" id="featured-articles">
        <section  class="featured-articles">
            <h3 class="section-title">Featured articles</h3>
            <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
            <ul role="list" class="articles__list">
                
                {% for post in collections.featured %}
                    {% include 'article-snippet.njk' %}
                {% endfor %}
                    
            </ul>
        </section>             
    </div>
</main>